.page-content {
  padding: 0;
  margin: 0;
}

.page-content > .wrapper {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url('/assets/img/img.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,0.15);
  background-blend-mode: multiply;
}

.banner section {
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  width: 55%;
}

.headline {
  background-color: white;
  font-size: 48px;
  padding: 3px;
  padding-left:5px;
  padding-right: 10px;
}

.headline h1 {
  text-align: center;
}

.lead {
  text-align: center;
  padding-top: 20px;
  color: white;
  font-size: 26px;
  font-weight: normal !important;
  background-color: rgba(0,0,0,1);
  background-blend-mode: multiply;
  padding-bottom: 20px;
}

.content-wrapper {
  width: 80%;
  margin: auto;
  font-size: 20px;
  padding: 20px;
}

.post-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
}

.card {
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
  transition: box-shadow 0.3s;
  transition: transform 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  transform: scale(1.1);
}

.skills-section {
  background-image: url('/assets/img/skills.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: multiply;
  font-size: 18px;
}

.skills {
  padding-top: 100px;
  padding-bottom: 100px;
}

.skills-text {
  width: 90%;
  margin: auto;
  background: white;
  padding: 30px;
}

.skills-text h1 {
  font-size: 36px;
}

.skills-text ul {
  list-style-type: none;
  
}

.skills-text li {
  padding: 5px;
}

.interest-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  gap: 20px;
}

.interest-table ul {
  list-style-type: disc;
  list-style-position: inside;
}

.interest {
  width: 640px;
  height: 426px;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: multiply;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: background-color 0.3s;
}

.interest:hover {
  background-color: rgba(0,0,0,0.7);
}

.skills-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  gap: 10px;
}

.skills-table h3 {
  font-size: 24px;
}

.icon {
  padding-right: 10px;
  font-size: 24px;
}

.about {
  width: 90% ;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 18px;
}

.about-text {
  width: 60%;
}

.about h1 {
  font-size: 36px;
}

.about p {
  padding-top: 5px;
}

/* To Setup Custom Styles */

/* Parallax */

.parallax {
  margin-left: -300vw;
  padding-left: 300vw;
  margin-right: -300vw;
  padding-right: 300vw;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("img_parallax.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../img/header.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("img_parallax3.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 768px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}
@media only screen and (min-width: 769px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
  }
}

.row{
max-width: 100%;
margin: 0 auto;
}

.col{
display: inline-block;
}

.spacer{
margin-left: (40px / 2);
margin-right: (40px / 2);
}

.col-50 {
  width: calc(50% - 15px);
  float: left;
}
.col-33 {
  width: calc(33% - 15px);
  float: left;
}
.col-66 {
  width: calc(66% - 15px);
  float: left;
}
.col-25 {
  width: calc(25% - 15px);
  float: left;
}
.col-75 {
  width: calc(75% - 15px);
  float: left;
}

.f-right {
  float: right;
}

@media screen and (max-width:768px) {
  .banner section {
    width: 100%;
  }
  .interest-table {
    grid-template-columns: auto;
  }
  .skills-table {
    grid-template-columns: auto;
  }
  .post-list {
    grid-template-columns: auto;
  }
}

@media screen and (max-width:600px) {
  .col-50 {
      width: calc(100% - 15px);
      float: left;
      margin-bottom: 10px;
  }
  .col-33 {
      width: calc(100% - 15px);
      float: left;
      margin-bottom: 10px;
  }
  .col-66 {
      width: calc(100% - 15px);
      float: left;
      margin-bottom: 10px;
  }
  .col-25 {
      width: calc(100% - 15px);
      float: left;
      margin-bottom: 10px;
  }
  .col-75 {
      width: calc(100% - 15px);
      float: left;
      margin-bottom: 10px;
  }
}

/* Social Links */
ul#social-media-list li {
  display: inline;
  padding: 10px;
}

.social-links {
  text-align: center;
  align-items: center;
  vertical-align: middle;
}
